body { 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.panel-default {
	margin-top:50px;
}
.form-group.last { 
	margin-bottom:0px; 
}

.alert {
	margin-top: 20px;
	margin-bottom: 0px;
}